@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/*Foundation*/
body {
  font-family: "M PLUS 1";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #707070;
  height: 100%;
  overflow-x: clip;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*mixin*/
/*breakpoint*/
/*font-size*/
/*文字の色*/
/*背景色*/
.icon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.l-footer {
  /*height: 5%;*/
  /*width: calc(100% - (368px / 1921px*100%));*/
  width: 100%;
}

.l-header {
  width: 100%;
  background-color: #FFF7EF;
}

.l-main {
  height: 88%;
  width: 100%;
}

.l-sidebar {
  width: 0;
}
@media (min-width: 1280px) {
  .l-sidebar {
    width: 20%;
  }
}

/*front*/
.c-bg-Image-MV1 {
  aspect-ratio: 375/285;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .c-bg-Image-MV1 {
    aspect-ratio: 834/285;
  }
}
@media (min-width: 1280px) {
  .c-bg-Image-MV1 {
    aspect-ratio: 1553/530;
  }
}

/*archiveとarchive-search*/
.c-bg-Image-MV2 {
  aspect-ratio: 375/285;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .c-bg-Image-MV2 {
    aspect-ratio: 834/285;
  }
}
@media (min-width: 1280px) {
  .c-bg-Image-MV2 {
    aspect-ratio: 1553/239;
  }
}

/*singleとpage*/
.c-bg-Image-MV3 {
  aspect-ratio: 375/225;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .c-bg-Image-MV3 {
    aspect-ratio: 834/505;
  }
}
@media (min-width: 1280px) {
  .c-bg-Image-MV3 {
    aspect-ratio: 1553/500;
  }
}

/*ftontpageのmain*/
.c-bg-Image-order {
  aspect-ratio: 335/642;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .c-bg-Image-order {
    aspect-ratio: 357/681;
  }
}
@media (min-width: 1280px) {
  .c-bg-Image-order {
    aspect-ratio: 616/1197;
  }
}

.c-box-search {
  border: 1px solid #707070;
  border-radius: 5px;
}

.c-item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1280px) {
  .c-item-center {
    flex-direction: row;
  }
}

.c-fontfam-en {
  font-family: Roboto;
}

.c-grid-container-frontMain {
  display: grid;
  place-content: center;
  /*grid-row-gap: 1%;*/
  grid-template-columns: repeat(1, 95%);
}
@media (min-width: 768px) {
  .c-grid-container-frontMain {
    /*grid-column-gap: 5% ;*/
    grid-template-columns: repeat(2, 47%);
  }
}
@media (min-width: 1280px) {
  .c-grid-container-frontMain {
    grid-column-gap: 5%;
    grid-template-columns: repeat(2, 47%);
  }
}

.c-grid-item-frontMain {
  display: grid;
  grid-template-rows: subgrid;
  /*margin: 10% 5% 10% 10%; */
}
@media (min-width: 1280px) {
  .c-grid-item-frontMain {
    margin: 0;
  }
}

.c-flex-column {
  display: flex;
  flex-direction: column;
}

.c-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*flex下書き →これやめてc-innerやってみる？*/
.c-flex {
  display: flex;
}

.c-flex-direction-column {
  display: flex;
  flex-direction: column;
}

.c-flex-justify-center {
  display: flex;
  justify-content: center;
}

.c-line-headingUnderline {
  position: relative;
}

.c-line-headingUnderline::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #FFFFFF;
  top: 120px;
  left: 0;
}

.c-line-headingUnderlineLong {
  position: relative;
}

.c-line-headingUnderlineLong::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #FFFFFF;
  top: 80px;
  left: 0;
}

.c-container {
  display: flex;
  justify-content: center;
  height: 100%;
}
@media (min-width: 375px) {
  .c-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .c-container {
    width: 100%;
  }
}

.c-wrapper {
  width: 80.8433107756%;
  height: 100%;
}
@media (min-width: 375px) {
  .c-wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .c-wrapper {
    width: 100%;
  }
}

.p-header {
  padding-left: 4%;
  padding-right: 2%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-header-logo {
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 1280px) {
  .p-header-logo {
    text-align: left;
  }
}

/*main部分のテキスト関係*/
.p-main-title {
  color: #FFFFFF;
  font-size: 4rem;
}

.p-main-list {
  margin-top: 60%;
  justify-content: flex-end;
}

.p-main-textbox {
  color: #3c2A10;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5%;
  padding: 3% 5% 5% 3%;
}
.p-main-textbox dt {
  margin-bottom: 1%;
  font-size: 1.5rem;
  line-height: 2;
}
.p-main-textbox dd {
  font-weight: 400;
  line-height: 1.7;
}

/*下部分：テキストと地図*/
.p-main-section {
  position: relative;
  width: 100%;
}

.p-main-section-text {
  width: 100%;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2855) 50%, transparent 50%);
  padding: 7%;
}
@media (min-width: 768px) {
  .p-main-section-text {
    width: 100%;
    padding: 5%;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.2855);
  }
}
@media (min-width: 1280px) {
  .p-main-section-text {
    width: 60%;
    padding: 5%;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.2855);
  }
}
.p-main-section-text h2 {
  font-size: 2.25rem;
  margin-bottom: 8%;
}
.p-main-section-text p {
  font-size: 1rem;
  line-height: 2.5;
}

.p-footer {
  background-image: url(../../../Images/frontpage_footer.png);
  background-size: cover;
  color: #FFFFFF;
  padding: 2%;
  font-weight: 400;
}

.p-footer-about {
  font-size: 1.25rem;
  margin-top: 1%;
  margin-bottom: 2%;
}

.p-footer-info::after {
  content: "|";
  color: #FFFFFF;
  font-size: 1.25rem;
  padding: 10px;
}

.p-footer-history {
  position: relative;
}

.p-footer-copyright {
  margin-top: 1%;
  font-size: 0.875rem;
}

/*aside２つのとき*/
.p-sidebar {
  position: relative;
}

.p-sidebar-title {
  position: absolute;
  top: 0.5%;
  left: -90px;
}
@media (min-width: 1280px) {
  .p-sidebar-title {
    position: static;
    background-color: #F2ede9;
    padding-top: 24%;
    padding-bottom: 15%;
    padding-left: 10%;
    margin-bottom: 0;
    display: block;
  }
}
.p-sidebar-title h2 {
  font-size: 1.5rem;
}

.p-sidebar-btn-menu {
  color: #707070;
}
@media (min-width: 1280px) {
  .p-sidebar-btn-menu {
    pointer-events: none;
  }
}

.p-sidebar-list {
  position: absolute;
  height: 100%;
}
.p-sidebar-list a {
  color: #707070;
}
@media (min-width: 1280px) {
  .p-sidebar-list {
    position: static;
    display: block;
    background-color: #F2ede9;
  }
}

.p-sidebar-wrap {
  margin-top: 40%;
}
@media (min-width: 1280px) {
  .p-sidebar-wrap {
    margin-top: 0;
  }
}

.p-sidebar-menu {
  padding: 5% 10% 5% 10%;
}

.p-sidebar-menu-category {
  display: block;
  margin-bottom: 15%;
  font-size: 2.25rem;
}
@media (min-width: 1280px) {
  .p-sidebar-menu-category {
    margin-top: 0;
    margin-bottom: 10%;
    font-size: 1.5rem;
  }
}

.p-sidebar-menu-choice {
  margin-left: 5%;
  font-size: 1.875rem;
  font-weight: 400;
}
@media (min-width: 1280px) {
  .p-sidebar-menu-choice {
    font-size: 1.25rem;
  }
}

.p-sidebar-menu-choice-child {
  margin-bottom: 8%;
}

.p-header-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 600px;
  position: relative;
  padding-top: 20px;
}
@media (min-width: 1280px) {
  .p-header-form {
    justify-content: flex-end;
    padding-left: 50%;
    padding-top: 0;
    width: 80%;
    max-width: none;
  }
}

.p-header-searchicon {
  width: 75%;
}

.p-header-search {
  width: 100%;
  padding-left: 30px;
  line-height: 2;
  background-color: #FFFFFF;
}

.p-header-searchicon::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f002";
  position: absolute;
  top: 55%;
  left: 2%;
}
@media (min-width: 1280px) {
  .p-header-searchicon::before {
    top: 25%;
    left: 63.5%;
  }
}

.p-header-submit {
  width: 25%;
  height: auto;
  background-color: color-mix(in srgb, #F2EDE9 100%, #DED8D3 100%);
  margin-left: 5px;
  font-family: "M PLUS 1";
  color: #707070;
  line-height: 2;
}

.p-main-image {
  background-image: url(../../../Images/frontpage_eyecatch.png);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 5%;
  font-size: 1.625rem;
}
@media (min-width: 768px) {
  .p-main-image {
    padding: 10%;
  }
}
@media (min-width: 1280px) {
  .p-main-image {
    padding: 5%;
  }
}

.p-order {
  padding: 5% 5% 10% 5%;
}
@media (min-width: 1280px) {
  .p-order {
    padding: 7%;
  }
}

.p-order-takeout {
  background-image: url(../../../Images/frontpage_takeout.jpg);
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 5% 5% 0 5%;
  margin: 5% 5% 0 5%;
}
@media (min-width: 768px) {
  .p-order-takeout {
    margin: 10% 5% 10% 10%;
  }
}
@media (min-width: 1280px) {
  .p-order-takeout {
    margin: 0;
  }
}

.p-order-eatin {
  background-image: url(../../../Images/frontpage_eatin.jpg);
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 5% 5% 0 5%;
  margin: 5% 5% 0 5%;
}
@media (min-width: 768px) {
  .p-order-eatin {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 10% 10% 10% 5%;
  }
}
@media (min-width: 1280px) {
  .p-order-eatin {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 0;
  }
}

.p-main-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.p-main-map iframe {
  aspect-ratio: 691/375;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.5971;
}
@media (min-width: 768px) {
  .p-main-map iframe {
    aspect-ratio: 1653/649;
  }
}
@media (min-width: 1280px) {
  .p-main-map iframe {
    aspect-ratio: 1653/649;
  }
}

/*PC画面では×印非表示*/
.js-btn-menu {
  position: relative;
}

.js-btn-menu::before {
  position: absolute;
  content: "";
  top: 20px;
  right: 35px;
  width: 5px;
  height: 35px;
  background-color: #707070;
  transform: rotate(-45deg);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
}

.js-btn-menu::after {
  position: absolute;
  content: "";
  top: 20px;
  right: 35px;
  width: 5px;
  height: 35px;
  background-color: #707070;
  transform: rotate(45deg);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
}

/*MENUボタンから×印*/
.js-btn-menu-open {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 200;
}
.js-btn-menu-open span {
  display: none;
}

.js-btn-menu-open::before {
  position: absolute;
  content: "";
  top: 2px;
  right: 18px;
  width: 5px;
  height: 35px;
  background-color: #707070;
  transform: rotate(-45deg);
  z-index: 200;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.65s;
}

.js-btn-menu-open::after {
  position: absolute;
  content: "";
  top: 2px;
  right: 18px;
  width: 5px;
  height: 35px;
  background-color: #707070;
  transform: rotate(45deg);
  z-index: 200;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.65s;
}

/*jsでサイドバーオープン・クローズ*/
/*隠れている状態*/
@media (min-width: 375px) {
  .js-sidebar {
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .js-sidebar {
    transform: translateX(0);
  }
}

/*開いた状態*/
.js-sidebar-open {
  transform: translateX(-100%);
  width: 90vw;
  position: relative;
  background-color: #FFF7EF;
  z-index: 100;
  transition: 1s;
}
@media (min-width: 768px) {
  .js-sidebar-open {
    width: 45vw;
  }
}

/*MENUクリック前のopenBg*/
.js-sidebar-bg {
  position: relative;
}

.js-sidebar-bg::before {
  background-color: #000000;
  content: "";
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

/*サイドバー出てきたときの背景グレーになる*/
.js-sidebar-openBg {
  position: relative;
}

.js-sidebar-openBg::before {
  opacity: 0.2855;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}

/*Foundation*/
/*layout*/
/*object/component*/
/*object/project*/
/*# sourceMappingURL=style.css.map */