@use '../../foundation/base' as base;

/*front*/
.c-bgImage__MV1 {
    aspect-ratio: 375/285;
    background-size: cover;
    background-position: center;
    
    @include base.breakpoint(tablet) {
        aspect-ratio: 834/285;
    }

    @include base.breakpoint(pc) {
        aspect-ratio: 1553/530;
    }
}

/*archiveとarchive-search*/
.c-bgImage__MV2 {
    aspect-ratio: 375/285;
    background-size: cover;
    background-position: center;

    @include base.breakpoint(tablet) {
        aspect-ratio: 834/285;
    }

    @include base.breakpoint(pc) {
        aspect-ratio: 1553/239;
    }
}

/*singleとpage*/
.c-bgImage__MV3 {
    aspect-ratio: 375/225;
    background-size: cover;
    background-position: center;

    @include base.breakpoint(tablet) {
        aspect-ratio: 834/505;
    }

    @include base.breakpoint(pc) {
        aspect-ratio: 1553/500;
    }
}

/*ftontpageのmain*/
.c-bgImage__order {
    aspect-ratio: 335/642;
    background-size: cover;
    background-position: center;

    @include base.breakpoint(tablet) {
        aspect-ratio: 357/681;
    }

    @include base.breakpoint(pc) {
        aspect-ratio: 616/1197;
    }
}


