@use '../../foundation/base' as base;

.c-item__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include base.breakpoint (pc) {
        flex-direction: row;
    }
}


.c-item__headingUnderline::after {
    position: absolute;
    content: "";
    width: 8%;
    height: 5px;
    background-color: base.$bg-color-white;
    top: 12%;
    left: 5%;
}
