@use '../../foundation/base' as base;

.p-mainImage {
    background-image: url(../../../Images/frontpage_eyecatch.png);
    color: base.$font-color-white;
    display: flex;
    align-items: center;
    padding: 5%;
    @include base.font-rem(26);

    @include base.breakpoint(tablet) {
        padding: 10%;
    }

    @include base.breakpoint(pc) {
        padding: 5%;
    }
}