@use '../../foundation/base' as base;

/*aside２つのとき*/
.p-sidebar {
    position: relative;
    
}

.p-sidebar__title {
    position: absolute;
    top: 0.5%;
    left: -90px;

    @include base.breakpoint(pc){
        position: static;
        background-color: base.$bg-color-beige2;
        padding-top: 24%;
        padding-bottom: 15%;
        padding-left: 10%;
        margin-bottom: 0;
        display: block;
    }
    

    & h2 {
        @include base.font-rem(24);
    }
}

.p-sidebar__btnMenu {
    color: base.$font-color-gray;
}


.p-sidebar__list {
    /*display: none;*/
    position: absolute;
    left: -100%;
    
    border: 5px solid red; 
    
    height: 100%;

    & a {
        color: base.$font-color-gray;
    }
    
    @include base.breakpoint(pc) {
        position: static;
        display: block;
        background-color: base.$bg-color-beige2;
        height: 100%;
    
        & a {
            color: base.$font-color-gray;
        }
    }
}

.p-sidebar__wrap {
    margin-top: 75%;
    

    @include base.breakpoint(pc) {
        margin-top: 0;
    }
}

.p-sidebar__menu {
    padding: 5% 10% 5% 10%;

    @include base.breakpoint(pc) {
        padding: 5% 10% 5% 10%;
    }
}

.p-sidebar__menuCategory {
    display: block;
    margin-bottom: 15%;
    @include base.font-rem(24);

    @include base.breakpoint(pc) {
        display: block;
        margin-top: 0;
        margin-bottom: 10%;
        @include base.font-rem(24);
    }

}

.p-sidebar__menuChoice {
    margin-left: 5%;
    @include base.font-rem(20);
    font-weight: 400;

    @include base.breakpoint(pc) {
        margin-left: 5%;
        @include base.font-rem(20);
        font-weight: 400;
    }
}

.p-sidebar__menuChoiceChild {
    margin-bottom: 8%;

    @include base.breakpoint(pc) {
        margin-bottom: 8%;
    }
}

.js-sidebar__open {
    width: calc(368px / 1921px*100%);
}

