@use '../../foundation/base' as base;

/*aside２つのとき*/
.p-sidebar {
    position: relative;
    
}

.p-sidebar__title {
    position: absolute;
    top: 0.5%;
    left: -90px;

    @include base.breakpoint(pc){
        position: static;
        background-color: base.$bg-color-beige2;
        padding-top: 24%;
        padding-bottom: 15%;
        padding-left: 10%;
        margin-bottom: 0;
        display: block;
    }
    

    & h2 {
        @include base.font-rem(24);
    }
}

.p-sidebar__btnMenu {
    color: base.$font-color-gray;
}

.p-sidebar__list {
    position: absolute;
    height: 100%;

    & a {
        color: base.$font-color-gray;
    }
    
    @include base.breakpoint(pc) {
        position: static;
        display: block;
        background-color: base.$bg-color-beige2;
    }
}

.p-sidebar__wrap {
    margin-top: 40%;
    
    @include base.breakpoint(pc) {
        margin-top: 0;
    }
}

.p-sidebar__menu {
    padding: 5% 10% 5% 10%;
}

.p-sidebar__menuCategory {
    display: block;
    margin-bottom: 15%;
    @include base.font-rem(36);

    @include base.breakpoint(pc) {
        margin-top: 0;
        margin-bottom: 10%;
        @include base.font-rem(24);
    }

}

.p-sidebar__menuChoice {
    margin-left: 5%;
    @include base.font-rem(30);
    font-weight: 400;

    @include base.breakpoint(pc) {
        @include base.font-rem(20);
    }
}

.p-sidebar__menuChoiceChild {
    margin-bottom: 8%;
}

.js-sidebar {
    @include base.breakpoint(sp) {
        transform: translateX(0);
        transition: transform 0.5s;
    }

    @include base.breakpoint(tablet) {
        transform: translateX(0);
        transition: transform 0.5s;
    }
    
}

.js-sidebar__open {
    @include base.breakpoint(sp){
        transform: translateX(-100%);
        width: 90vw;
        position: relative;
        background-color: base.$bg-color-beige1;
        z-index: 100;
        transition: transform 0.5s 0.1s; /*duration delay*/
    }

    @include base.breakpoint(tablet) {
        transform: translateX(-100%);
        width: 50vw;
        position: relative;
        background-color: base.$bg-color-beige1;
        z-index: 100;
        transition: transform 0.5s 0.1s;
    }
    
}

/*サイドバー出てきたときの背景グレーになる*/
.js-sidebar__openBg {
    position: relative;
    transition: 1s;
}

.js-sidebar__openBg::before {
    @include base.breakpoint(sp) {
        background-color: rgba(base.$bg-color-black, 0.2855);
        content: "";
        width: 100vw;
        position: fixed;
        z-index: 10;
        top: 0;
        left:0;
        display: block;
        height: 100%;
        
        
    }
    @include base.breakpoint(tablet) {
        background-color: rgba(base.$bg-color-black, 0.2855);
        content: "";
        width: 100vw;
        position: fixed;
        z-index: 10;
        top: 0;
        left:0;
        display: block;
        height: 100%;
        
        
    }
}


/*MENUボタンから×印*/
.js-btnMenu__open::before {
    position: absolute;
    content: "";
    top: 20px;
    right: 35px;
    width: 5px;
    height: 35px;
    background-color: base.$bg-color-gray;
    transform: rotate(-45deg);
    z-index: 200;
}

.js-btnMenu__open::after {
    position: absolute;
    content: "";
    top: 20px;
    right: 35px;
    width: 5px;
    height: 35px;
    background-color: base.$bg-color-gray;
    transform: rotate(45deg);
    z-index: 200;
}
